crc_data_and_metric_bundle_1.2/deid_data/** filter=lfs diff=lfs merge=lfs -text

crc_metareport_bundle_1.2/**/*.png filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/**/*.jpg filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/**/*.zip filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/**/*.csv filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/**/*.html filter=lfs diff=lfs merge=lfs -text

crc_metareport_bundle_1.2/aindo-synth/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/Anonos[[:space:]]Data[[:space:]]Embassy[[:space:]]SDK/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/Genetic[[:space:]]SD/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/LostInTheNoise/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/MostlyAI[[:space:]]SD/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/rsynthpop/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/Sarus[[:space:]]SDG/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/sdcMicro/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/sdv/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/smartnoise-synth/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/subsample/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/synthcity/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/tumult/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/UTDallas-AIFairness/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/ydata-sdk/**/*.json filter=lfs diff=lfs merge=lfs -text
crc_metareport_bundle_1.2/ydata-synthetic/**/*.json filter=lfs diff=lfs merge=lfs -text

